/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT */
:root {
    --primary: rgba(234,86,58);
    --secondary:rgb(198,105,149);
    --textDark:rgb(35,45,56);
    --textLight:rgb(122,122,122);
}
/* PAGE STYLE */
*
*::before,
*::after {
    box-sizing:border-box;
}
a {
    text-decoration: none;
}
body {
	font-family:'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
    padding: 0 32px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-20 {
    flex: 0 1 20%;
}
.flex-48 {
    flex: 0 1 48%;
}
.justify-start {
    justify-content: flex-start;
}
.btn {
    background-color: #53B667;
    padding: 24px 32px;
    color: #fff;
    margin-top: 32px;
}
.header {
    background-color: #222946;
}
.header .active {
    color: #53B667;
}
.header li a {
    color: #fff;
    margin-right: 16px;
}
h1 {
    font-size: 32px;
    font-weight: 600;
    padding: 32px 0;
}
.hero {
    background-color: #E9ECFC;
    padding: 40px;
}
.hero-btn {
    margin-top: 40px;
}
.hero-img {
    padding: 32px;
}
.art-header {
    margin: 40px 0;
    color: black;
    text-align: center;
    padding: 32px 0;
    font-size: 48px;
    font-weight: 600;
}
footer {
    background-color: #222946;
    padding: 24px;
    margin: 32px 0;
    color: #fff;
}
footer nav li {
    color: #fff;
}
footer small {
    color: rgb(197, 184, 184);
}
.footer-nav a {
    color: rgb(197, 184, 184);
    margin-right: 16px;
}