/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ROOT */
:root {
    --primary: rgba(242,73,77);
    --secondary:rgb(198,105,149);
    --textDark:rgb(33,37,41);
    --textLight:rgb(105,108,108);
}
/* PAGE STYLE */
*
*::before,
*::after {
    box-sizing:border-box;
}
a {
    text-decoration: none;
}
body {
	font-family:"open sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
.container {
    max-width: 1380px;
    margin: 0 auto;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-20 {
    flex: 0 1 20%
}
.flex-30 {
    flex: 0 1 30%;
}
.flex-48 {
    flex: 0 1 48%;
}
.flex-50 {
    flex: 0 1 50%;
}
.grow {
    flex: 1 1 auto;
}
.column {
    flex-direction: column;
}
.padding {
    padding: 2rem 0;
}
.btn {
    display: inline-block;
    padding: 16px 24px;
    font-weight: 600;
    letter-spacing: 0.8;
    border-radius: 4px;
}
.btn-primary {
    background-color: var(--primary);
    color: #fff;
}
.btn-secondry {
    background-color: #fff;
    color: var(--primary);
}
.btn:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}
.center {
   display: flex;
   justify-content: center;
   align-items: center; 
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content:flex-end;
}
.align-start {
    align-items: flex-start;
}
.margin-top {
    margin-top: 48px;
}
.text-center {
    text-align: center;
}
.font-0 {
    font-size: 0;
}
.item-stretch {
    align-items: stretch;
}
.width-full {
    width: 100%;
}
.nav-var {
    position: relative;
}
.nav-item a{
    margin-right: 2rem;
    color: #fff;
}
.hero {
    background: linear-gradient(rgba(82,80,192,0.7),rgba(82,80,192,0.7)),
    url(../media/banner.png)no-repeat;
    height: 74vh;
    background-size: cover;
    padding: 3rem;
}
.hero-img {
    /* width: 100%; */
    padding-top: 2rem;
    padding-left: 13rem;
}
.hero-item h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}
.hero-item p {
    color: #fff;
    padding: 2rem 0;

}
.hero strong {
    color: var(--primary);
}
.about {
    padding: 3rem;
}
.about h2 {
    font-size: 3rem;
    font-weight: 700;
}
.about p{
    padding: 2rem 0;                                                                                    
}
.info-content {
    border: 2px dashed var(--primary);
    padding: 1rem;
    font-weight: 900;
}
.info-container h2 {
    font-size: 2.2rem;
    font-weight: 700;
    padding: 2rem 0;
}
.info-container h3 {
font-size: 1.6rem;
font-weight: 600;
padding: .6rem;
}
.schedule-container h2 {
    font-size: 3rem;
    font-weight: 700;
}
.schedule-img {
    width: 14rem;
    height: 9rem;
    border-radius: 2rem;
    padding: 1.6rem;
}
.circle-item .active {
    background-color: var(--primary);
    color: #fff;
}
.schedule-item {
    padding: .8rem 0;
}
.schedule-item h3 {
    font-size: 1.8rem;
    font-weight: 700;
    padding: .5rem;
}
.schedule-item p {
    font-size: 20px;
    margin-bottom: 16px;
}
.circle {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    padding: .8rem;
    border: 2px dashed var(--primary); 
    font-size: 40px;
    font-weight: 900; 
    text-align: center;
    color: var(--primary);
}
hr {
    width: 0px;
    height: 3.2rem;
    border: 1px dashed var(--primary);
}
.service {
    font-size: 16rem;
}
.service .active {
    background-color: var(--primary);
    padding: 4rem 6rem;
    border-radius: 6px;
}
.portfolio {
    background: url(../media/banner.png)no-repeat;
    background-size: cover;
    height: 74vh;
    padding: 2rem;
}
.portfolio-icon {
background-color: var(--primary);
color: #fff;
font-size: 140px;
}
footer {
    background-color: rgb(35,52,123);
    padding: 1rem 0.4;
}
footer .logo {
    padding:2rem 2rem;
}
footer .quick-link a {
    color: rgb(161, 156, 156);
    margin-right: .6rem;
}
footer h4 {
    font-size: 20px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1rem;
}
.follow a {
    color: rgb(180, 175, 175);
    font-size: 20px;
    font-weight: 800;
    margin: 0 1rem;
    padding: 1rem 0rem;
}
footer .small {
    background-color: rgb(18,39,105);
    padding: 2rem .1rem;
    margin-top: 2rem;
    color: rgb(161, 156, 156);
}
@media screen and (max-width:1200px){
    .container {
        max-width: 1140px;
}
@media screen and (max-width:992px){
.container {
    max-width: 960px;
}
} 
@media screen and (max-width:576px){
    .container {
        max-width: 540px;
    }
}
@media screen and (max-width:768px) {
    .container {
        max-width: 720px;
    }
    html {
        font-size: 10px;
    }
    .flex-100{
        flex: 1 0 100%;
        margin: 2rem 0;
    }
    .wrap {
        flex-wrap: wrap;
    }
    .column {
        flex-direction: column;
   }
    .order-1 {
        order: 1;
    }
    .brand {
        margin-bottom: 2rem;
    }
    .header li a {
        margin: 0 1.5rem;
    }
    .footer-nav a {
      margin: 2rem 1.5rem 0 1.5rem;
      display: inline-block;
    }
}
}